{% extends 'base.html' %}
{% load static %}
{% block title %} Registration {% endblock title %}

{% block body %}

<div class="container">
</div>
    <h1>Signup Form</h1>

    <ul class = "messages">
    {% for msg in messages %}

    <li>
        <div class="alert alert-{{ msg.level_tag}}" role="alert">

            {{ msg.message }}

        </div>
    </li>


    {% endfor %}
    </ul>



    <form action="{% url 'addUser' %}" method="post">



        {% csrf_token %}



    <div class="form-group">
    <label>Username</label>
    {{ form.username }}



    <label>Password</label>
    {{ form.password }}



        <label>E-mail</label>
    {{ form.email }}



        <label>Phone</label>
    {{ form.phone }}
    </div>
        <button type="submit" class="btn btn-success">Submit</button>


    </form>

{% endblock body %}